<div class="card card--horizontal">
    {% set image_field_name = ez_first_filled_image_field_identifier(content) %}

    {% if image_field_name is not empty %}
        <div class="card-img">
            {{ ez_render_field(content, image_field_name, {
                parameters: {
                    alias: 'card_view',
                    class: 'card-img img-fluid w-100'
                }
            }) }}
        </div>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a class="card-title__link" href="{{ path( location ) }}" >
                {{ ez_content_name( content ) }}
            </a>
        </h5>
        <div class="card-text">
            {% include '@ezdesign/parts/render_description.html.twig' with {'content': content} only  %}
        </div>
    </div>
</div>
