{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}map{% endblock %}
{% block block_class %}places-background {{ block_class }}{% endblock %}

{% block block_content %}
    <div class="places-map-block-view container">
        <div class="title">Destinations</div>

        {% set map_container_id = 'map_container_id_' ~ random() %}
        <div class="map-container" id="{{ map_container_id }}"></div>

        {% include '@ezdesign/parts/map.html.twig' with {
            'map_container_id': map_container_id,
            'contentArray': contentArray
        } only %}

        <div class="explore">
            <a href="{{ path(location) }}" class="btn btn-primary btn-lg btn-block">{{ 'Explore destinations'|trans }}</a>
        </div>
    </div>
{% endblock %}
