<section class="content-type-form full-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-type-form__header">
                    {{ ez_render_field(content, 'title') }}
                </div>
                <div class="field-form">
                    {{ ez_render_field(content, 'form') }}
                </div>
            </div>
        </div>
    </div>
</section>