<div class="container">
    <div class="row recommendations">
        <div class="recommendations-indicator col-md-2">
            <div class="recommendations-indicator-icon recommendations-indicator-icon-like"></div>
            <div class="recommendations-indicator-label">
                {{ 'Recommended Articles'|trans }}
            </div>
        </div>

        <div class="col-md-10 row">
            {% for content in randomRecommendations %}
                <article class="class-article col-md-4">
                    <a href="{{ path('ez_urlalias', {'contentId': content.id}) }}">
                        <div class="recommendations-article row">
                            {% set thumbnail = '' %}
                            {% if content.getFieldValue('image') is defined and content.getFieldValue('image') is not empty %}
                                {% set thumbnail = content.getFieldValue('image').uri %}
                            {% endif %}

                            <div class="col-md-4 recommendations-thumbnail" style="background-image: url('{{ thumbnail }}');">
                            </div>
                            <div class="col-md-8 recommendations-data">
                                <h3>{{ ez_content_name(content) }}</h3>
                            </div>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    </div>
</div>
