<div class="col-md-12">
    {% if contentArray is defined %}
        <ul class="list-unstyled">
            {% for content in contentArray %}
                <li>
                    <a href="{{ path('ez_urlalias', {locationId: content.contentInfo.mainLocationId}) }}" class="btn btn-secondary btn-lg btn-block">{{ ez_content_name(content) }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
