{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}collection{% endblock %}
{% block block_class %}{{ block_class }}{% endblock %}

{% block block_content %}
    {%  set render_empty = render_empty|default(false) %}
    <div class="row block-header">
        <span class="block-header__name">{{ block_name }}</span>
    </div>

    <div class="row cards-container cards-container--horizontal">
        <div class="card-deck">
            {% for location in locationlist %}
                {{ render(controller('ez_content:viewLocation', {
                    'locationId': location.locationId,
                    'viewType': 'block_item_list'
                })) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
