{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}tastes{% endblock %}
{% block block_class %}{{ block_class }}{% endblock %}

{% block block_content %}
    {%  set render_empty = render_empty|default(false) %}
    <div class="row block-header">
        <span class="block-header__name">{{ block_name }}</span>
    </div>
    {% if contentArray is defined and contentArray|length > 0 %}
    <div class="row cards-container cards-container--horizontal">
        <div class="card-deck">
            {% for item in contentArray %}
                {{ render(controller('ez_content:viewLocation', {
                    locationId: item.contentInfo is defined ? item.contentInfo.mainLocationId : item.content.contentInfo.mainLocationId,
                    viewType: 'block_item_list'
                })) }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
