.personalized {
  background: #fff;
  margin: 0;
}

.personalized h4 {
  padding: 5px 0 0 15px;
  font-size: 15px;
  font-weight: 600;
}

.personalized .vertical-demo .row {
  margin: 0;
  background: #fff;
}

.personalized .vertical-demo .class-article {
  width: 100%;
  border-top: 1px solid #dedede;
  padding: 15px;
  height: 135px;
}

.personalized.horizontal-view {
  min-height: 112px;
}

.personalized.horizontal-view h4 {
  display: none;
}

.personalized .recommendations-thumbnail {
  min-height: 110px;
}

@media (max-width: 768px) {
  .personalized.horizontal-view {
    height: 100%;
  }

  .personalized.horizontal-view .class-article {
    padding: 10px;
  }
}

.landing-page__zones {
  .col-4,
  .col-md-4,
  .bs-col-4,
  .col-6,
  .col-md-6,
  .bs-col-6 {
    .landing-page__zone .recommendations {
      flex-direction: column;
      .class-article {
        width: 100%;
      }
    }
  }
}
