{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}map{% endblock %}
{% block block_class %}{{ block_class }}{% endblock %}

{% block block_content %}
    <div class="places-map-block-view container">

        <div class="title">Destinations</div>

        <div class="map-container"></div>
        <div class="explore">
            <a href="{{ path(location) }}" class="btn btn-primary btn-lg btn-block">{{ 'Explore destinations'|trans }}</a>
        </div>
    </div>

    {% include '@ezdesign/parts/map.html.twig' with {'contentArray': contentArray} only %}

{% endblock %}
