$block-header: '.block-header';
#{($block-header)} {
  height: 80px;
  margin: 0;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;

  &__name {
    font-size: 25px;
    font-weight: bold;
    color: #2b2b2b;
  }
}

$cards-container: '.cards-container';
#{($cards-container)} {
  padding-top: 28px;

  &--horizontal .card-deck {
    justify-content: space-between;
  }

  .card-deck {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    .card {
      margin-bottom: 35px;
      flex: 0 0 calc(25% - 30px);

      .card-img {
        object-fit: cover;
      }

      .card-img-top {
        height: 175px;

        .ezimage-field, .card-img {
          height: 100%;
        }
      }

      .card-body {
        height: 175px;
      }

      .card-title {
        &__link {
          color: $grey-dark;
          font-size: 17px;
          font-weight: 600;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block;
        }
      }

      .card-text {
        line-height: 1.6em;
        max-height: 6.4em;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        font-size: 15px;
      }

      &--horizontal {
        flex-direction: row;
        height: 175px;
        width: 540px;
        flex: initial;

        .card-img {
          flex: 0 0 230px;
          height: 173px;
          border-top-left-radius: calc(0.25rem - 1px);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: calc(0.25rem - 1px);

          & + .card-body {
            width: 310px;
          }
        }
      }
    }
  }
}

.landing-page__zones {
  .col-4,
  .col-md-4,
  .bs-col-4 {
    .landing-page__zone #{($cards-container)} {
      .card-deck .card {
        flex: 0 0 calc(100% - 30px);
      }

      &--horizontal .card-deck {
        padding: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;

        .card--horizontal {
          flex: initial;
          width: 380px;

          .card-img {
            flex: 0 0 150px;

            &+.card-body {
              width: 198px;
            }
          }
        }
      }
    }
  }

  .col-6,
  .col-md-6,
  .bs-col-6 {
    .landing-page__zone #{($cards-container)} .card-deck .card {
      flex: 0 0 calc(50% - 30px);

      &--horizontal {
        flex: initial;
        width: 540px;

        .card-img {
          flex: 0 0 230px;

          &+.card-body {
            width: 306px;
          }
        }
      }
    }
  }

  .col-8,
  .col-md-8,
  .bs-col-8 {
    .landing-page__zone #{($cards-container)} .card-deck .card {
      flex: 0 0 calc(50% - 30px);

      &--horizontal {
        width: 365px;

        .card-img {
          flex: 0 0 150px;

          &+.card-body {
            width: 213px;
          }
        }
      }
    }
  }

  .col-4,
  .col-6,
  .col-8,
  .col-md-4,
  .col-md-6,
  .col-md-8,
  .bs-col-4,
  .bs-col-6,
  .bs-col-8 {
    .landing-page__zone #{($cards-container)} .card-deck .card .ezimage-field {
      overflow: hidden;
      height: 100%;
    }
  }
}
