.block-hero .field-title {
  font-size: 70px;
}

@media (max-width: 1300px) {
  .block-hero .field-title {
    font-size: 55px;
  }
}

@media (max-width: 1199.98px) {
  .block-hero .field-title {
      font-size: 50px;
  }
}

@media (max-width: 991.98px) {
  .block-hero .field-title {
    font-size: 45px;
  }
}

@media (max-width: 850px) {
  .block-hero .field-title {
    font-size: 38px;
  }
}

@media (max-width: 730px) {
  .block-hero .field-title {
    font-size: 33px;
  }
}

@media (max-width: 620px) {
  .block-hero .field-title {
    font-size: 29px;
  }
}

@media (max-width: 575.98px) {
  .block-hero .field-title {
    font-size: 25px;
   }
}

@media (max-width: 490.98px) {
  .block-hero .field-title {
    font-size: 16px;
   }
}
